//import
@import "html/index";
@import "html/nosotros";
@import "html/productos";
@import "html/contacto";
@import "html/encontranos";




/* Media celular */
@media screen and (max-width:768px) {
    #mainheader {
        display: flex;
        flex-direction: column;
        nav{
            ul{
                display: flex;
                flex-direction: row;
            }
            li {
                font-size: 10px;
                text-align: center;
                margin-left: 18px;
            } 
        }
    }   
    .img-bk{
        margin-top: 10px;
        height: 10rem;
        width: 100%;
        margin-left: -1px;
    }
    .img-bk h1{
        font-size: 2rem;
    }
    .container-1 {
        width: 100%;
    }
    body {
        width: 100%;
    }
    .contenedor-2 {
        width: 100%;
    }
    
    .contenedor-grid {
        height: 350px;
        width: 100%;
        background-color:rgb(242, 242, 242) ;
        border-bottom: 1px solid rgb(64, 64, 64);
        .grid-1{
            height: 300px;
            margin-top: -4rem;
            .imagen-br{
                height: 100px;
                width: 100px;
            }
            .texto-1 {
                font-size: 1rem;
                margin-top: 1em;
            }
        }
        .grid-2{
            height: 320px;
            .texto-2{ 
                p{
                    font-size: 0.7rem;
                    margin-top: -17rem;
                    font-weight: 400;
                }
            }
        }
    }
    .text-green{
        font-size: 1.2rem;
    }
    .texto-white{
        font-size: 1.5rem;
        text-align: center;
    }
    .texto-boton{
        display: flex;
        flex-direction: column;
    }
    .btn-txt{
        font-size: 0.8rem;
        
    }
    /* Estilos pag Nosotros */
    .contenedor-flex-2{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 10px;
        .contenedor-grid-2 {
            display: flex;
            flex-direction: column;
            height: 600px;
            width: 100%;
            background-color: rgba(206, 222, 218, 0.462);
            margin-left: 0px;
        }
        .imagen-br-2{
            height: 150px;
            width: 150px;
            background-image: url(../img/web-developer-vs-software-engineer-man-with-laptop.webp);
            background-size:cover ;
            border-radius: 50%;
            margin: 0 auto;
            margin-top: 3rem;
        }
        .texto-1b{
            text-align: center;
            margin-top: 1rem;
            font-size: 1.5rem;
            color: #000000;
            font-weight: 600;
        }
        .texto-2b{
            p{
                margin-top: -6rem;
                text-align: center;
                font-size: 1.2rem;
                color: #000000;
                font-weight: 300;
                padding: 2rem;
            }
        }
    }
    
    /* page productos */
    /* bootstrap flex */
    .title{
        margin: 10px;
        h1{
            font-size: 1rem;
            color: rgb(25, 170, 25);
            border: 1px solid rgb(59, 59, 59);
            margin-bottom: 5px;
        }
    }
    .padre-prod{
        .container-productos{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }
    }
    /* Page contacto */
    .texto-contacto{
        text-align: center;
        font-size: 1.1rem;
        font-weight: 400;
        background-color: rgb(245, 244, 244);
        height: 80px;
        padding: 18px;
    }    
    .container-form{
        display: grid;
        grid-template-columns: repeat(1, 2fr);
        .form-info{
            width: 100%;
            margin-left: 0px;
            margin-top: -1px;
        }
        .contenido{
            font-weight: 300;
            color: #509f32;
            width: 100%;
            font-size: 2.2em;
            border-bottom: solid 1px #CCC;
        }
        .flex-static{
            display: flex;
            font-size: 35px;
            margin: 0 10px;
            gap: 20px;
        }
        .h2-contact{
            width: 100%;
        }
    }  
    //page encontranos
    .contenedor-flex{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}